@use "sass:map";
@use "@setting" as *;

.root {
  width: 100%;
  max-width: 980px;
  height: 100vh;
  margin: 64px auto 0;
  padding: 0 20px;
  background-color: map.get($baseColor, "index");
  color: map.get($mainColor, "index");
  word-break: break-all;

  > *:last-child {
    padding-bottom: 64px;
  }
}
