@use "sass:map";
@use "@setting" as *;

.root {
  width: 100%;
  max-width: 980px;
  height: 100%;
  margin: 0 auto;
  padding: 64px 20px;
  word-break: break-all;

  > *:last-child {
    padding-bottom: 64px;
  }
}

.body {
  background-color: map.get($baseColor, "index");
  color: map.get($mainColor, "index");
}
