@use "sass:map";
@use "@setting" as *;

.list {
  display: flex;
  flex-direction: column;
  gap: 12px 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 0 6px;
}

.arrow {
  opacity: .5;
}

.button {
  transition: all 0.5s ease 0s;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}

.isActive {
  transition: all 0.5s ease 0s;
  opacity: .5;
  pointer-events: none;
}
