extends ../../../../common/layouts/_default.pug

block Setting
  -
    dir = "study/oreilly/chapter07/"
    title = "sprite";
    paths.relative = paths.study;

block Contents
  canvas(
    id="myCanvas"
  )
  #stats
  button.effect
    |Glitch Effect
