.STUDY-links {
  h2 {
    text-align: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    // font
    font-size: 1.2rem;
    font-family: neue-kabel, sans-serif;
    font-weight: 400;
    line-height: 3.0rem;
  }
}
