@use "sass:map";
@use "@setting" as *;

.root {
  display: flex;
  gap: 32px 64px;

  @include sp {
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 32px 24px;
  }
}

.icon {
  flex-shrink: 0;
  width: 108px;
  height: 108px;
  overflow: hidden;
  border-radius: 50%;

  @include sp {
    width: 64px;
    height: 64px;
  }
}

.message {
  width: 100%;
  max-width: 882px;
  height: 240px;
  overflow-y: scroll;
  border: 1px solid map.get($mainColor, "L70");
  border-radius: 9px;
  background-color: map.get($mainColor, "L10");
  white-space: pre-wrap;

  @include pc {
    padding: 32px 48px;
  }

  @include sp {
    padding: 24px 16px;
    border-radius: 6px;
  }
}
