@use "sass:map";
@use "@setting" as *;

.group {
  container-type: inline-size;

  @include sp {
    padding: 0 20px;
  }
}

.group + .group {
  margin-top: 128px;
}

* + .list {
  margin-top: 32px;
}

.groupEnter {
  display: flex;
  justify-content: flex-end;
}

* + .groupEnter {
  margin-top: 32px;
}

@container (max-width: 680px) {
  .groupEnter {
    justify-content: center;
  }
}
