@use "sass:map";
@use "@setting" as *;

.root {
  display: none;
  line-height: 1.7;

  @include pc {
    font-size: 16px;
  }

  @include sp {
    font-size: 13px;
  }
}

.isActive {
  display: block;
}
