@use "sass:map";
@use "@setting" as *;

.root {
}

.contentWrapper {
  padding: 12px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: map.get($mainColor, "L65");
}

.content {
  display: none;

  &.isActive {
    display: block;
  }
}
