@use "sass:map";
@use "@setting" as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 40px 0 64px;

  &:not(:last-child) {
    border-bottom: 1px solid map.get($mainColor, "L50");
  }

  * {
    pointer-events: none;
  }
}

.name {
  display: block;
  transition: all 0.5s ease 0s;
  font-size: 18px;
  letter-spacing: 0.1em;
}

.listStyle {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 0;
  transition: all 0.5s ease 0s;

  &:before {
    content: "";
    width: 6px;
    height: 6px;
    transition: all 0.5s ease 0s;
    border-radius: 50%;
    opacity: 0;
    background-color: map.get($mainColor, "index");
  }
}

.listStyleIsActive {
  width: calc(6px + 16px);

  &:before {
    opacity: 1;
  }
}

.nameIsActive {
  background-color: map.get($mainColor, "index");
  color: map.get($baseColor, "index");
}
