@use "sass:map";
@use "@setting" as *;

.nav {
  @include pc {
    font-size: 18px;
  }

  @include sp {
    padding: 3px 6px 4px;
    font-size: 16px;
  }
}

.isUnactive {
  opacity: 0.5;
  pointer-events: none;
}
