@use "sass:map";
@use "@setting" as *;

.code {
  display: inline-block;
  margin: 0 2px;
  padding: 2px 4px 3px;
  border-radius: 6px;
  background-color: map.get($mainColor, "L15");
  color: map.get($mainColor, "L90");
  line-height: 0.9;
}

.pre {
  padding: 12px 12px 12px 34px;
  border-radius: 9px;
  white-space: pre-wrap;

  @include pc {
    font-size: 14px;
  }

  @include sp {
    font-size: 12px;
  }

  code {
    display: initial;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: initial;
    color: initial;
    line-height: initial;
  }

  span {
    line-height: 1.4;
  }

  ol {
    * + li {
      margin-top: 3px;
    }
  }
}
