@use "sass:map";
@use "@setting" as *;

.root {
  ul,
  ol {
    li {
      &:before {
        background-color: map.get($baseColor, "index");
      }
    }
  }

  a {
    color: map.get($lightMode, "link");
  }

  blockquote {
    color: map.get($baseColor, "L85");
    &:before {
      background-color: map.get($baseColor, "L40");
    }
  }

  code {
    background-color: map.get($baseColor, "L10");
    color: map.get($baseColor, "L90");
  }
}
