@use "sass:map";
@use "@setting" as *;

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 20px - 15px);
  transition: opacity 1.2s ease 0s;
  opacity: 0;
  font-size: 14px;
  font-style: italic;
  line-height: 1.8;

  @include sp {
    height: calc(100vh - 20px - 15px - 56px);
    font-size: 12px;
  }
}

.isActive {
  opacity: 1;
}
