@use "sass:map";
@use "@setting" as *;

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 120px 40px;
  container-type: inline-size;
}

.item {
  flex-shrink: 0;
  width: 330px;
  transition: all 0.5s ease 0s;

  &:hover {
    @include pc {
      opacity: 0.5;
    }
  }
}

@container (max-width: 1069px) {
  .list {
    justify-content: center;
  }

  .item {
    width: 100%;
    max-width: 890px;
  }
}
