@use "sass:map";
@use "@setting" as *;

.status {
  margin-bottom: 40px;
}

.samples {
  display: flex;
  gap: 60px;
}

.type {
  display: inline-block;
  width: 100%;
  font-size: 32px;
  line-height: 51px;
  word-break: break-all;

  [data-typing-style="strong"] {
    font-size: 54px;
    font-weight: bold;
  }
}
