@use "sass:map";
@use "@setting" as *;

.status {
  margin-bottom: 40px;
}

.typeArea {
}

.type {
  display: inline-block;
  width: 100%;
  font-size: 28px;
  line-height: calc(51 / 28);
  word-break: break-all;

  @include sp {
    font-size: 14px;
  }

  a {
    transition: all 0.5s ease 0s;
    color: #1a73e8;
    font-weight: bold;
    text-decoration: underline;
  }

  [data-typing-style="strong"] {
    color: rgba(#000000, 0.8);
    font-size: 48px;
    font-weight: bold;

    @include sp {
      font-size: 24px;
    }
  }

  [data-typing-style="decoration"] {
    color: #00b976;
    font-weight: bold;
  }

  [data-typing-status="isConvert"] {
    background-color: rgba(#b4d7fe, 0.8);
    font-size: 28px;
    font-weight: normal;

    @include sp {
      font-size: 14px;
    }
  }
}
