@use "sass:map";
@use "@setting" as *;

.status {
  margin-bottom: 40px;
}

.samples {
  display: flex;
  gap: 60px;
}

.type {
  display: inline-block;
  width: 100%;
  font-size: 32px;
  line-height: 51px;
  word-break: break-all;

  [data-typing-style="strong"] {
    color: rgba(#000000, 0.8);
    font-size: 54px;
    font-weight: bold;
  }

  [data-typing-style="decoration"] {
    color: #00b976;
    font-weight: bold;
  }

  [data-typing-status="isConvert"] {
    background-color: rgba(#b4d7fe, 0.8);
    font-size: 32px;
    font-weight: normal;
  }
}
