@use "sass:map";
@use "@setting" as *;

.root {
  margin: 64px auto auto;

  @include sp {
    margin: 64px auto auto;
  }
}

.head {
  @include sp {
    padding: 0 12px;
  }
}

* + .info {
  margin-top: 9px;
}

* + .screen {
  margin-top: 64px;
}

.ctrl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px 48px;

  @include sp {
    flex-direction: column;
    padding: 0 20px;
  }
}

* + .ctrl {
  margin-top: 32px;
}

* + .github {
  margin-top: 12px;
}

* + .notes {
  margin-top: 64px;
}
