@use "sass:map";
@use "@setting" as *;

.container {
  display: table;
  grid-template-columns: repeat(8, 1fr);
  width: 100vw;
  border-collapse: separate;

  [data-grid-visual-id="item"] {
    border-width: calc(1px / 2);
    border-style: solid;
    background-color: map.get($baseColor, "index");
  }
}
