@use "sass:map";
@use "@setting" as *;
@use "./styles/code" as code;
@use "./styles/base" as base;
@use "./styles/margin" as margin;
@use "./styles/lightMode" as lightMode;

.root {
  @include base.app();
  @include code.app();
  @include margin.app();
}

.formatedTable {
  @include sp {
    overflow-x: scroll;
  }
}

.externalLink {
  gap: 0 12px;
}

.externalIcon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 0 0.2em 0.4em;
  vertical-align: middle;
}

.light {
  @include lightMode.app();
}
