@use "sass:map";
@use "@setting" as *;

.root {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 36px 40px 30px;
  pointer-events: none;

  @include sp {
    height: 100%;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  @include pc {
    backdrop-filter: blur(14px) hue-rotate(180deg) brightness(50%);
  }
}

.backhome {
  pointer-events: visible;

  @include sp {
    position: absolute;
    top: 16px;
    left: 20px;
  }
}

.navs {
  display: flex;
  flex: 1 1 0;
  justify-content: flex-end;
  pointer-events: visible;
  container-type: inline-size;

  @include sp {
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: center;
    width: 100%;
    padding: 12px;
    backdrop-filter: blur(14px) hue-rotate(180deg) brightness(50%);
  }
}
