@use "sass:map";
@use "@setting" as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 40px 0 64px;

  &:not(:last-child) {
    border-bottom: 1px solid map.get($mainColor, "L50");
  }

  * {
    pointer-events: none;
  }
}
