@use "sass:map";
@use "@setting" as *;

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: map.get($mainColor, "L30");
}

.title {
  font-size: 12px;

  @include sp {
    font-size: 10px;
  }
}

.annotation {
  font-size: 10px;
}
