@use "sass:map";
@use "@setting" as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}

.image {
  display: inline-flex;
  box-shadow: 6px 6px 12px 3px rgba(#ffffff, 0.2);

  img {
    flex-shrink: 0;
    height: auto;
  }
}
