@use "sass:map";
@use "@setting" as *;

* + .contents {
  margin-top: 80px;
}

.main {
  width: 100%;
  border-radius: 12px;
  background-color: map.get($mainColor, "L15");

  @include pc {
    max-width: 960px;
    padding: 48px 60px;
  }

  @include sp {
    max-width: 720px;
    padding: 36px 30px;
  }
}

@container (max-width: 1440px) {
  .main {
    max-width: 840px;
  }
}
