@use "sass:map";
@use "@setting" as *;

* + .contents {
  margin-top: 80px;
}

.main {
  @include pc {
    max-width: 840px;
    padding: 48px 60px;
  }

  @include sp {
    max-width: 720px;
    padding: 36px 30px;
  }
}
