@use "sass:map";
@use "@setting" as *;

.wrapper {
  padding: 12px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: map.get($mainColor, "L40");
}

.dummyArea {
  margin: 32px 0;
}

* + .heading {
  margin-top: 96px;
}

* + .tabArea {
  margin-top: 24px;
}

* + .p {
  margin-top: 24px;
}
