@use "sass:map";
@use "@setting" as *;

.html,
.body {
  overflow: hidden;
}

.canvas {
  width: 100vw;
  height: 100vh;
  border: 1px solid #ffffff;
  pointer-events: none;
}

.effect {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3px 24px;
  border: 2px solid map.get($baseColor, "index");
  background-color: map.get($mainColor, "index");
}
