@use "sass:map";
@use "@setting" as *;

.html,
.body {
  overflow: hidden;
}

.canvas {
  width: 100vw;
  height: 100vh;
}

.effect {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3px 24px;
  border: 2px solid map.get($baseColor, "index");
  background-color: map.get($mainColor, "index");
}

.changer {
  position: absolute;
  z-index: 9;
  right: 100px;
  bottom: 1%;
  color: #ffffff;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  line-height: 1.5;
  text-align: right;
  text-shadow: 0 0 10px #ffffff;
}
