@use "sass:map";
@use "@setting" as *;

.image {
  height: auto;
}

* + .thumbnail {
  margin-top: 32px;
}

.description {
  p {
    @include pc {
      font-size: 14px;
    }

    @include sp {
      font-size: 12px;
    }
  }
}

* + .description {
  margin-top: 32px;
}

* + .link {
  margin-top: 48px;
}

.back {
  display: flex;
  justify-content: center;
}

* + .back {
  margin-top: 96px;
}
