@use "sass:map";
@use "@setting" as *;

.list {
  display: flex;
  align-items: center;

  @include pc {
    gap: 24px 40px;
  }

  @include sp {
    gap: 24px 32px;
    justify-content: space-around;
  }
}

.nav {
  @include pc {
    font-size: 18px;
  }

  @include sp {
    padding: 3px 6px 4px;
    font-size: 14px;
  }
}

.isUnactive {
  opacity: 0.5;
  pointer-events: none;
}
