@use "sass:map";
@use "@setting" as *;

.root {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 40px;
  container-type: inline-size;
}

.item {
  width: 330px;
}

@container (max-width: 1069px) {
  .root {
    justify-content: center;
  }

  .item {
    width: 100%;
    max-width: 890px;
  }
}
