@use "sass:map";
@use "@setting" as *;

.button {
  padding: 3px 24px;
  border: 1px solid map.get($mainColor, "L30");
  border-radius: 3px;
  background-color: map.get($mainColor, "L10");
  text-align: center;
}

.buttons {
  display: flex;
  gap: 24px 48px;

  @include sp {
    flex-direction: column;
  }
}

* + .modal {
  margin-top: 48px;
}
