extends ../../../../common/layouts/_default.pug

block Setting
  -
    dir = "study/oreilly/chapter04/"
    title = "multi-material";
    paths.relative = paths.study;

block Contents
  canvas(
    id="myCanvas"
  )
  #stats
  button.effect
    |Glitch Effect
