@use "sass:map";
@use "@setting" as *;

.button {
  padding: 3px 24px;
  border: 1px solid map.get($mainColor, "L30");
  border-radius: 3px;
  background-color: map.get($mainColor, "L10");
}

.buttons {
  display: flex;
  gap: 24px 48px;
}

* + .modal {
  margin-top: 48px;
}
