@use '../../setting/app' as global;
@use 'sass:map';

.L-footer {
  footer {
    font-family: neue-kabel, sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: map.get(global.$color, sub);
    // constructor
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    // flex
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
