@use "sass:map";
@use "@setting" as *;

.root {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(14px);
  padding: 6px;

  @include sp {
    height: 100%;
  }
}

.inner {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border: 1px solid map.get($mainColor, "L10");
  border-radius: 12px;
  background-color: map.get($baseColor, "L70");
  overscroll-behavior: none;

  @include pc {
    padding: 111px 64px 160px;
  }

  @include sp {
    padding: 96px 20px 128px;
  }

  > * {
    @include pc {
      max-width: 1080px;
      margin: 0 auto;
    }
  }
}
