@use "sass:map";
@use "@setting" as *;

.local {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 64px;
  height: 100%;
  padding: 24px 16px;
  background-color: map.get($mainColor, "L10");
}

.global {
  position: fixed;
  z-index: 999;
  top: 32px;
  right: 36px;
}
